.top-block__slide1 {
    background-image: url(/src/images/91ea8be2-43a7-47e5-8c02-88df3f65f388\ 2.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.top-block__slide1-text_red {
    color: #E15601;
}

h1 {
    display: block;
    width: 260px;
}

.top-block__slide1-text {
    color: rgb(65, 51, 51);
    padding-top: 150px;
    padding-bottom: 40px;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
}

.top-block__button {
    margin-right: 10px;
    margin-bottom: 100px;
}

