@import url(../../vendor/normalize.css);
@import url(../../blocks/header/header.css);
@import url(../../blocks/main/main.css);
@import url(../../blocks/footer/footer.css);

html,
body {
    font-size: 14px;
    line-height: 14px;
    font-family: 'Nunito', sans-serif;
}
section {
    border: 0.5px solid blue;
}

.wrapper {
     min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 123px 1fr 582px;
    /*background-color: bisque;*/

    grid-template-areas:
    "header"
    "main"
    "footer"
    ;

}

@import url(../../blocks/header/header.css);

@import url(../../blocks/main/main.css);

@import url(../../blocks/footer/footer.css);

.button__text {
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
}

.button_yellow {
    background-color: #F9A123;
    color: white;
}

.button_orange {
    background-color: #E15601;
    color: white;
}

.button_wide {
    padding-left: 35px;
    padding-right: 35px;
}

.button_narrow {
    padding-left: 15px;
    padding-right: 15px;
}

.button_online-bank {
    background-color: #FFBD00;
    color: #E15601;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: bold;
}
