@import url(../../vendor/normalize.css);

html,
body {
    font-size: 14px;
    line-height: 14px;
    font-family: 'Nunito', sans-serif;
}
section {
    border: 0.5px solid blue;
}

.wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 123px 1fr 582px;
    /*background-color: bisque;*/

    grid-template-areas:
    "header"
    "main"
    "footer"
    ;

}

main {
    display: grid;
}

/******************************** header *******************************/

.header {
    grid-area: header;
    background-color: rgb(61, 60, 60);
}

/******************************** button *******************************/

.button__text {
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
}

.button_yellow {
    background-color: #F9A123;
    color: white;
}

.button_orange {
    background-color: #E15601;
    color: white;
}

.button_wide {
    padding-left: 35px;
    padding-right: 35px;
}

.button_narrow {
    padding-left: 15px;
    padding-right: 15px;
}

.button_online-bank {
    background-color: #FFBD00;
    color: #E15601;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: bold;
}

/******************************** top-block *******************************/

.top-block__slide1 {
    background-image: url('/src/assets/images/main_top-block_hand.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.top-block__slide1-text_red {
    color: #E15601;
}

.top-block__slide1-text {
    color: white;
    padding-top: 10vh;
    padding-bottom: 40px;
    font-family: 'Nunito', sans-serif;
    font-size: 30px; 
    display: block;
    width: 260px;
}

.top-block__slide2 {
    background-image: url('/src/assets/images/main_top-block_together.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.top-block__slide2-text {
    color:#4E8A6B;
    padding-top: 10vh;
    padding-bottom: 40px;
    font-family: 'Nunito', sans-serif;
    font-size: 30px; 
    display: block;
    width: 260px;
}

.top-block__button {
    margin-right: 10px;
    margin-bottom: 100px;
}

@media screen and (max-width: 540px) {
    .top-block__button {
        display: none;
    }
}

@media screen and (min-width: 1270px) {
    .top-block__slide1-text,
    .top-block__slide2-text {
    font-size: 40px;
    display: block;
    width: 437px;
    }
    
}

.slick-track {
    display: flex;
}

.slick-list {
    overflow: hidden;
}

.slider {
    position: relative;
    max-width: 100vw;
    margin: 0 auto;
    padding: 0 10px;
}

.slider .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 50px;
}
.slider .slick-arrow .slick-prev {
    left: 0;
    background: url(/src/images/main_top-block_Arrow2.png) 0 0 / 100% no-repeat;
    border: none;
}

.slider .slick-arrow .slick-next {
    right: 0;
    background: url(/src/images/main_top-block_Arrow2.png) 0 0 / 100% no-repeat;
    }

.slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider .slick-dots li {
    list-style: none;
    margin: 0px 10px;
}

.slider .slick-dots button {
    font-size: 0;
    height: 10px;
    background-color: #E15601;
    border: none;
    border-radius: 50%;
}

.slider .slick-dots li .slick-active button {
    background-color: transparent;
    border: 1px solid #E15601;
}

.button.slick-prev.slick-arrow {
    border: none;
}


/************************************* footer *********************************/

.footer {
    grid-area: footer;
    background: blueviolet;
    /* font-size: 1000px; */
}